@model HomeViewModel

<h1>Лучшие</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Sweets sweet in Model.favSweets)
        {
            @Html.Partial("AllSweets", sweet)
        }
    }
</div>
