<div id="header">

    <!-- Inner -->

    <div class="inner">
        <header>
            <h1><a href="/" id="logo">@Config.CompanyName</a></h1>
        </header>
    </div>

    @*<div class="inner">
            <header>
                <h1><a href="index.html" id="logo">Helios</a></h1>
                <hr />
                <p>Another fine freebie by HTML5 UP</p>
            </header>
            <footer>
                <a href="#banner" class="button circled scrolly">Start</a>
            </footer>
        </div>*@

    <!-- Nav -->

    <nav id="nav">
        <ul>
            @*<a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наши услуги</a>
            <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
            <a asp-area="" asp-controller="Account" asp-action="Login">Вход</a>*@

            <li><a href="/Home/Index">Главная</a></li>
            <li><a href="/Services/Index">Наши услуги</a></li>
            <li><a href="/Home/Contacts">Контакты</a></li>
            <li><a href="/Account/Login">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
            @*
        <li>
            <a href="#">Dropdown</a>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam dolore nisl</a></li>
                <li>
                    <a href="#">And a submenu &hellip;</a>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Phasellus consequat</a></li>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                    </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
            </ul>
        </li>
            *@
        </ul>
    </nav>



</div>